<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/tough%20in%20summer.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/rtbar.css">
</head>
<body>
    <div class="tough_main">
        <!--顶部广告-->
        <div class="tough_banner1">
            <img src="img/banner.jpg" alt="">
            <img src="img/bg1.jpg" alt=""  id ="firMD1">
        </div>
        <!--顶部视频-->
        <div class="tough_video wt" >
            <img src="img/bg2.jpg" alt="">
            <video src="video/fd71e405305d4f5489379e6965669a9b-5287d2089db37e62345123a1be272f8b.mp4" preload id="dogVideo">本浏览器不支持vidio标签</video>
            <div id="playBtn"></div>
        </div>
        <!--热卖部分-->
        <div class="tough_sale1 wt">
            <ul>
                <li><a href="#"><img src="img/sale1.jpg" alt=""><span></span></a></li>
                <li><a href="#"><img src="img/sale2.jpg" alt=""><span></span></a></li>
                <li><a href="#"><img src="img/sale3.jpg" alt=""><span></span></a></li>
                <li><a href="#"><img src="img/sale4.jpg" alt=""><span></span></a></li>
            </ul>
        </div>
        <!--爆划算-->
        <div class="tough_hot wt" id ="firMD2">
            <img src="img/bg3.jpg" alt="">
            <div class="tough_sale5">
                <img src="img/sale5.jpg" alt="">
                <span class="banner_blackCircle"></span>
            </div>
            <div class="tough_saleListWrap">
                <ul class="tough_saleList">
                    <li><a href=""><img src="img/goods1.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">省</em></span>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods2.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods3.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods4.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href="#"><img src="img/goods5.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods6.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods7.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods8.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">【每人1份】美国原装进口天衡宝（原雪山）健乐系列 鸡肉鸭肉全犬粮 30磅/13.59kg</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                </ul>
            </div>
        </div>
        <!--零食-->
        <div class="banner2 wt" id ="firMD3">
            <img src="img/banner1.jpg" alt=""><img src="img/banner3.jpg" alt=""><img src="img/bg4.jpg" alt="">
            <div class="banner2_gn">
                <span class="banner_blackCircle"></span>
                <img src="img/sale6.jpg" class="banner2_gn_img1">
            </div>
            <div class="tough_saleListWrap">
                <ul class="tough_saleList">
                    <li><a href=""><img src="img/goods9.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <a href="#" class="text_overFlow">【每人1份】贝蒂 高钙牛肉条 500克</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods10.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">新西兰纽萃宝Nutripe Classic系列 牛肉鲜草羊肚狗罐头 390g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods11.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">新西兰纽萃宝Nutripe 草原安格斯牛肉配方狗罐头 175g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods12.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">韩国BOTH 成犬山羊奶布丁 15粒/袋 </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href="#"><img src="img/goods13.jpg" alt=""></a>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">麦富迪 电影零食系列 风干火腿 200g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods14.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">麦富迪 清齿倍健系列 小型犬幼犬洁齿骨 500g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods15.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">蒙吉勒 原味奶酪酥 50g </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods16.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">【每人1份】哈乐喜Healthy 双头洁牙骨 鸡肉味 SS号 49支</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                </ul>
            </div>
        </div>
        <!--医疗-->
        <div class="banner3 wt"  id ="firMD4">
            <img src="img/banner4.jpg"><img src="img/bg5.jpg" alt="">
            <div class="banner3_wanPi"><img src="img/sale7.jpg" alt=""><span class="banner_blackCircle"></span></div>
            <div class="tough_saleListWrap">
                <ul class="tough_saleList">
                    <li><a href=""><img src="img/goods17.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">9.9</em></span>
                        <a href="#" class="text_overFlow">【17.11.11】先牧仕 宠物山羊奶粉 117g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods18.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <a href="#" class="text_overFlow">K9 Care 爆毛粉系列 K9 Care鳖蛋爆毛粉 狗狗用 ，24/箱</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods19.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <a href="#" class="text_overFlow">圣路薇 双效美容泪痕灵 去泪痕+洁眼 70ml</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods20.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <a href="#" class="text_overFlow">【每人1份】英国MAG 天然虾红素 预防皮肤病 10片x6板</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href="#"><img src="img/goods21.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】法国维克 耳漂 新一代犬用耳道清洁剂 60ml 200g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods22.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">【每人1份】美国麦德氏 IN-PLUS日常照护营养系列 犬用超浓缩卵磷脂 培根味 300g</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods23.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">【每人1份】小宠EHD 优能钙 110ml </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods24.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">强生宠儿 复合型酵素健胃消食片 150粒s</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                </ul>
            </div>
            
        </div>
        <!--生活馆-->
        <div class="banner4 wt" id ="firMD5">
            <img src="img/banner5.jpg" alt=""><img src="img/bg6.jpg" alt="">
            <div class="banner4_puppy"><img src="img/sale8.jpg" alt=""><span class="banner_blackCircle"></span></div>
            <div class="tough_saleListWrap">
                <ul class="tough_saleList">
                    <li><a href=""><img src="img/goods25.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">可悠  经济型宠物尿垫/尿片 45×33cm 100片装</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods26.jpg" alt=""></a>
                        
                        <a href="#" class="text_overFlow">金派滋Goldpets 去毛开结软齿贝壳梳 12*8cm </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods27.jpg" alt=""></a>
                        
                        <a href="#" class="text_overFlow">【每人1份】雷米高 奥蔓养肤全效护理沐浴露500ml </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods28.jpg" alt=""></a>
                        
                        <a href="#" class="text_overFlow">【每人1份】澳路雪 经典系列香波10#持效抗菌500ml </a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href="#"><img src="img/goods29.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">梵米派Famipet 学霸鸭博士</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods30.jpg" alt=""></a>
                        <span class="sale_tag"><em class="sale_tagTx">5折</em></span>
                        <span class="tough_blackCircle">已售罄</span>
                        <a href="#" class="text_overFlow">台湾Amycarol 狗狗玩具 风味洁牙棉绳系列 起司味 20cm*4.8cm</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods31.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">美国原装进口 碧艾欧BIO-GROOM 羊毛脂蛋白5:1浓缩洗毛精 12盎司/355ml</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><a href=""><img src="img/goods32.jpg" alt=""></a>
                        <a href="#" class="text_overFlow">意大利原装 ISB意丝美 A级水果系列 薄荷香波 500ml</a>
                        <strong class="sale_price"><span class="sale_rmb">￥</span>454.00</strong>
                        <del class="sale_del">¥558.00</del>
                        <input type="button" value="立即购买" class="sale_buyBtn">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                    <li><img src="img/stance.jpg" class="ImgPt">
                    </li>
                </ul>
            </div>
            
            
        </div>
        <!--链接图片-->
        <div class="banner5 wt"  id ="firMD6">
            <img src="img/bg7.jpg" alt="">
        </div>
        <div class="tough_btLink wt">
            <ul class="tough_btLink_ul">
                <li><img src="img/link1.jpg" alt=""></li>
                <li><img src="img/link2.jpg" alt=""></li>
                <li><img src="img/link3.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <!--侧边导航-->
    <div class="fullFlexed">
        <a href="#"><span class="block"><img src="img/gotocat.jpg" alt=""></span></a>
        <div class="sideNav_wrap">
            <ul id="sideNav_ul">
                <li><a href="javascript:;">5折潮品</a></li>
                <li><a href="javascript:;">主粮</a></li>
                <li><a href="javascript:;">零食</a></li>
                <li><a href="javascript:;">医疗保健</a></li>
                <li><a href="javascript:;">生活馆</a></li>
                <li><a href="javascript:;">特色专栏</a></li>
            </ul>
            
        </div>
        <a href="#"><img src="img/backtop_06.jpg" alt=""></a>
    </div>
    <!--侧边栏部分-->
    <div id="rtBar">
        <div class="rtCont">
            <!--侧边栏上部-->
            <ul class="rtCont_up">
                <li class="rtDog_li">
                    <div class="user_login">您还没有登陆，请先 <a href="#">登录</a>。</div>
                    <a href="#"><span class="rtDog"></span></a>
                </li>
                <li class="rtCart_li">
                    <div class="rtCart_box">
                        <p>您的购物车中暂无商品，快点选购心爱的商品吧！</p>
                        <div class="rtCart_purchase">
                            <a href="#">取出寄存的商品</a>
                        </div>
                    </div>
                    <a href="#" class="rtCart_a">
                        <span class="rtCart"></span>
                        <div class="rtCart_num">购物车
                            <i>0</i>
                        </div>
                    </a>
                </li>
                <li class="rtQues_li">
                    <ul class="rtQues_box">
                        <li><a href="#"><img src="img/rtques1.png">商品咨询</a></li>
                        <li><a href="#"><img src="img/rtques2.png">订单咨询</a></li>
                        <li><a href="#"><img src="img/rtques3.png">活动咨询</a></li>
                        <li><a href="#"><img src="img/rtques4.png">物流咨询</a></li>
                        <li><a href="#"><img src="img/rtques5.png">普通咨询</a></li>
                    </ul>
                    <a href="#" class="rtQues_a">
                        <span class="rtQues"></span>
                        <div class="rtOnline_Ques">在线客服</div>
                    </a>
                </li>
                <li class="rtOrder_li">
                    <div class="rtOrder">我的订单<i>◆</i></div>
                    <a href="#">
                        <span class="rtList"></span>
                    </a>
                </li>
                <li class="rtHeart_li">
                    <div class="rtHeart_box">
                        <div class="pDot"></div>
                        <div class="pDot"></div>
                        <p><span>我浏览过</span></p>
                        <div class="nolist">没有已浏览商品</div>
                        <p><span>我收藏</span><a href="#">更多>></a></p>
                        <div class="nolist">没有已收藏商品</div>
                    </div>
                    <a href="#"><span class="rtHeart"></span></a>
                </li>
            
            </ul>
            <!--侧边栏下部-->
            <ul class="rtCont_dw">
                <li class="rtCode">
                    <div class="rtCode_box">
                        <img src="img/rtcode.jpg" >
                    </div>
                    <a href="#"><span class="rtDw_code"></span></a>
                </li>
                <li class="rtTop">
                    <div class="rtTop_box">回到顶部<i>◆</i></div>
                    <a href="#"><span class="rtDw_topBtn"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <!--页面底部-->
    <div id="foot">
        <div class="foot_top">
            <ul class="ww">
                <li><a href="#">绝对的正品</a></li>
                <li><a href="#">全球的好货</a></li>
                <li><a href="#">自家的仓库</a></li>
                <li><a href="#">自家的配送</a></li>
                <li><a href="#">养宠的帮手</a></li>
                <li><a href="#">小小的成绩</a></li>
            </ul>
        </div>
        <div class="foot_center ww">
            <div class="foot_center_left fl">
                <img src="img/dog_phone.gif" alt="" class="fl"/>
                
                <div class="foot_center_left_nr fl">
                    <h2>服务热线:</h2>
                    
                    <p>400-888-9200<span>(免长途费)</span></p>
                    
                    <p>023-65584888</p>
                    
                    <p><span>工作时间：09:00--21:00</span></p>
                </div>
            </div>
            <div class="foot_center_center_nr fl">
                <dl>
                    <dt>支付方式</dt>
                    <dd><a href="#">货到付款</a></dd>
                    <dd><a href="#">余额支付</a></dd>
                    <dd><a href="#">在线支付</a></dd>
                </dl>
                <dl>
                    <dt>配送方式</dt>
                    <dd><a href="#">E宠快递</a></dd>
                    <dd><a href="#">外包快递</a></dd>
                    <dd><a href="#">物流运输</a></dd>
                    <dd><a href="#">公司地址</a></dd>
                </dl>
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="#">退换货政策</a></dd>
                    <dd><a href="#">它时代杂志</a></dd>
                    <dd><a href="#">常见问题</a></dd>
                    <dd><a href="#">宠物知识</a></dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="#">关于我们</a></dd>
                    <dd><a href="#">仓储中心</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">人才招聘</a></dd>
                </dl>
            </div>
            <div class="foot_center_right_nr fl">
                <ul>
                    <li><p>扫描下载APP<br/>下单更优惠</p><a href="#"><img src="img/dw2.png" alt=""/></a></li>
                    <li><p>扫描关注E宠<br/>商城微信</p><a href="#"><img src="img/app-code1.jpg" alt=""/></a></li>
                </ul>
            </div>
        </div>
        <div class="flink ww clearfix">
            <ul>
                <li>友情链接：</li>
                <li><a href="#">E宠猫用品</a></li>
                <li><a href="#">骨头网</a></li>
                <li><a href="#">狗粮品牌</a></li>
                <li><a href="#">宠物用品</a></li>
                <li><a href="#">钓鱼网</a></li>
                <li><a href="#">狗粮价格</a></li>
                <li><a href="#">淘狗网</a></li>
                <li><a href="#">重庆宠物</a></li>
                <li><a href="#">宠物狗</a></li>
                <li><a href="#">淘宝返利</a></li>
                <li><a href="#">9块9包邮</a></li>
                <li><a href="#">披萨</a></li>
                <li><a href="#">返利网</a></li>
                <li><a href="#">品牌折扣网</a></li>
                <li><a href="#">大连分类信息</a></li>
                <li><a href="#">礼物网</a></li>
                <li><a href="#">山东网</a></li>
                <li><a href="#">驴友网</a></li>
                <li><a href="#">服装资讯</a></li>
                <li><a href="#">1折网</a></li>
                <li><a href="#">成都房产</a></li>
                <li><a href="#">淘粉吧返利网</a></li>
                <li><a href="#">比价网</a></li>
                <li><a href="#">渝味晓宇火锅</a></li>
                <li><a href="#">土地流转</a></li>
                <li><a href="#">重庆网络推广</a></li>
                <li><a href="#">重庆卫校</a></li>
                <li><a href="#">重庆卫生学校</a></li>
                <li><a href="#">返利网</a></li>
                <li><a href="#">海外代购</a></li>
                <li><a href="#">中国宠物网</a></li>
                <li><a href="#">钓鱼之家</a></li>
                <li><a href="#">罗汉鱼</a></li>
                <li><a href="#">海水鱼</a></li>
                <li><a href="#">北京宠物</a></li>
                <li><a href="#">龟友之家</a></li>
                <li><a href="#">天津钓鱼网</a></li>
                <li><a href="#">马可波罗网</a></li>
                <li><a href="#">阳台园艺</a></li>
                <li><a href="#">宠物店加盟</a></li>
                <li><a href="#">爱狗网</a></li>
                <li><a href="#">兽药网</a></li>
                <li><a href="#">手表网</a></li>
            </ul>
            <span id="onOff"><img src="img/xiaojintou.png" alt=""/></span>
        </div>
        <div class="support clearfix">
            <ul>
                <li><a href="#"><img src="img/360.png" alt=""/></a></li>
                <li><a href="#"><img src="img/chengxin.png" alt=""/></a></li>
                <li><a href="#"><img src="img/shiming.png" alt=""/></a></li>
                <li><a href="#"><img src="img/tx.png" alt=""/></a></li>
                <li><a href="#"><img src="img/jybz.png" alt=""/></a></li>
                <li><a href="#"><img src="img/cqgs.png" alt=""/></a></li>
                <li><a href="#"><img src="img/baiq.png" alt=""/></a></li>
                <li><a href="#"><img src="img/wsls.png" alt=""/></a></li>
                <li><a href="#"><img src="img/sfqy.png" alt=""/></a></li>
                <li><a href="#"><img src="img/yxqy.png" alt=""/></a></li>
                <li><a href="#"><img src="img/bhdw.png" alt=""/></a></li>
                <li><a href="#"><img src="img/sjws.png" alt=""/></a></li>
            </ul>
        </div>
        <div class="copy">
            <p>渝ICP备13005525号-2　渝ICP备10002905　增值电信业务经营许可证：渝B2-20140042 Copyright © 2007-2017 epet.com 　重庆易宠科技有限公司</p>
        </div>
    </div>
    



</body>
<script src="js/MyTools.js"></script>
<script src="js/tough%20in%20summer.js"></script>
<script src="js/sidebar.js"></script>
<script src="js/jq.js"></script>
<script src="js/common.js"></script>

</html>